################################################################################
# Ten plik .gitignore został utworzony automatycznie przez Microsoft(R) Visual Studio.
################################################################################

/dynamic array/.vs/dynamic array/v16/ipch/AutoPCH/859567d7628e77c7
/dynamic array/Debug/dynamic array.exe
/dynamic array/.vs/dynamic array/v16/Browse.VC.opendb
/dynamic array/.vs/dynamic array/v16/Browse.VC.db
